@model IEnumerable<EscalonamentoHorarios_Grupo3.Models.UnidadesServico>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnosServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turnos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enfermeiro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnosServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turnos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enfermeiro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UnidadesServicoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UnidadesServicoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UnidadesServicoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
