@model PagedList.IPagedList<EscalonamentoHorarios_Grupo3.Models.Enfermeiro>
@using PagedList.Mvc;


<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Enfermeiro";
}

<h2>Enfermeiros</h2>


<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "Enfermeiros", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Nome
        </th>

    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadeServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telemovel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EnfermeiroID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnfermeiroID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnfermeiroID">Delete</a>
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

