@addTagHelper EscalonamentoHorarios_Grupo3.Infrastructure.*, PaginacaoTagHelper
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model EnfermeirosListViewModel
@{
    ViewData["Title"] = "Lista de Enfermeiros";
}

<h2>@ViewData["Title"]</h2>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Pesquisa</div>
        <div class="panel-body">
            <form asp-action="Index">
                <div class="form-group">
                    <label asp-for="CurrentName" class="control-label"></label>
                    <input asp-for="CurrentName" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Pesquisar" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Unidade Serviço
            </th>
            <th style="text-align:right;">
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enfermeiros)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnidadeServico)
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.EnfermeiroID">Details</a>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.EnfermeiroID">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.EnfermeiroID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div page-model="@Model.Paginacao"></div>


<p>
    <a asp-action="Create" class="btn btn-default">Create New</a>
</p>